<div class="page-header">
  <%= link_to posts_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_post_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Recent Posts</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @post.title %></dd>

  <dt>Body:</dt>
  <dd><%= @post.body %></dd>


  <p id="notice"><%= notice %></p>

  <%= render :partial => @post %>
<div>

</div>

  <h2>Comments</h2>
  <div id="comments">
    <%= render :partial => @post.comments %>
  </div>

  <%= form_for [@post, Comment.new] do |f| %>
    <p>
      <%= f.label :body, "New comment" %><br/>
      <%= f.text_area :body %>
    </p>
    <p><%= f.submit "Add comment" %></p>
  <% end %>

  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>

</dl>
