<div class="page-header">
  <%= link_to new_stat_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Stat
  <% end %>
  <h1>Listing stats</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Aname</th>
            <th>Age</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Wellness goals</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @stats) do |stat| %>
            <td><%= stat.aname %></td>
            <td><%= stat.age %></td>
            <td><%= stat.height %></td>
            <td><%= stat.weight %></td>
            <td><%= stat.wellness_goals %></td>
            <td><%= link_to 'Show', stat %></td>
        <td><%= link_to 'Edit', edit_stat_path(stat) %></td>
        <td><%= link_to 'Destroy', stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
