<div class="page-header">
  <%= link_to stats_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_stat_path(@stat), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show stat</h1>
</div>

<dl class="dl-horizontal">
  <dt>Aname:</dt>
  <dd><%= @stat.aname %></dd>

  <dt>Age:</dt>
  <dd><%= @stat.age %></dd>

  <dt>Height:</dt>
  <dd><%= @stat.height %></dd>

  <dt>Weight:</dt>
  <dd><%= @stat.weight %></dd>

  <dt>Wellness goals:</dt>
  <dd><%= @stat.wellness_goals %></dd>

</dl>
